.oteladd {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px;
    background-color: whitesmoke;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h5 {
    font-size: 20px;
    color: blue;
}

.oteladd_category label {
    margin-right: 30px;
}

.oteladd_fulllocation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.oteladd_fulllocation_div {
    display: flex;
}

.fulllocation {
    margin-right: 30px;
}

.oteladd_abouts {
    margin-top: 20px;
}

.oteladd_abouts_div {
    display: flex;
    flex-wrap: wrap;
}

.oteladd_abouts_div div {
    width: 33%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.oteladd_abouts_div input {
    width: 200px;
}

.errormessage {
    color: red;
}

.oteladd_isdek {
    display: flex;
    flex-wrap: wrap;
}

.oteladd_ekstra {
    width: 33%;
    margin-bottom: 20px;
}

.oteladd_room {
    justify-content: space-between;
    width: 600px;
    display: flex;


}