h2 {
    margin: 0;
}

.contact_phone {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;


}

.contact_phone_form {
    margin-top: 70px;
    width: 430px;
    background-color: whitesmoke;
    padding: 30px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid whitesmoke;
}

.contact_phone_form label {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #3f526b;
}

.phone_number {
    width: 100%;
}

.phone_number input {
    height: 30px;
}

.contact_phone_form_talep {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.Phone_submit_btn {
    margin-top: 20px;
    background-color: blue;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

#numbercode::-webkit-outer-spin-button,
#numbercode::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}